<app-navbar></app-navbar>

<div class="scroll-container">
  <section id="home"><app-home></app-home></section>
  <section id="about"><app-about></app-about></section>
  <!-- <section id="education"><app-education></app-education></section> -->
  <section id="experience"><app-experience></app-experience></section>
  <section id="skills"><app-skills></app-skills></section>
  <section id="projects"><app-projects></app-projects></section>
  <section id="contact"><app-contact></app-contact></section>

</div>

<app-footer></app-footer>
