        <!-- <mat-toolbar color="primary" class="footer-toolbar" role="contentinfo">
        <div class="footer-content">
            <div class="footer-left">
            © {{ currentYear }} Sandeep Renu. All rights reserved.
            </div>
            <div class="footer-right">
            <a href="https://github.com/sandeep" target="_blank" aria-label="GitHub">
                <mat-icon>code</mat-icon>
            </a>
            <a href="https://linkedin.com/in/sandeep" target="_blank" aria-label="LinkedIn">
                <mat-icon>linkedin</mat-icon>
            </a>
            <a href="mailto:sandeepple.com" aria-label="Email">
                <mat-icon>email</mat-icon>
            </a>
            </div>
        </div>
        </mat-toolbar> -->
